{# app/Resources/views/PCOlayout.html.twig #}

<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
<title>{% block title %} PCO Platforme {% endblock %} </title>
  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
		<h1> PCOfunding </h1>
		<p>
		A crowdlending site
		</p>
	</div>
	<div id="menu">
	<ul>
	<li><a href="{{ path('pco_extract_plateformes')}}">Plateformes</a></li>
	<li><a href="{{ path('pco_extract_projets')}}">Projets</a></li>
	<li><a>AdminCompte</a></li>
	</ul>
	</div>

	<div id="content">
	{% block body %}
	{% endblock %}
	</div>

    <footer>
      <p>Created by PCOfunding © {{ 'now'|date('Y') }}.</p>
    </footer>
</div>
</body>
</html>
