{# src/PCO/ExtractBundle/Resources/views/Advert/plateformes.html.twig #}

{% extends "PCOExtractBundle::layout.html.twig" %}

{% block title %}Plateformes - {{ parent() }}{% endblock %}

{% block pcoextract_body %}
<h2>Liste des plateformes</h2>

{% endblock %}