{# src/PCO/ExtractBundle/Resources/views/Advert/projets.html.twig #}

{% extends "PCOExtractBundle::layout.html.twig" %}

{% block title %}Projets - {{ parent() }}{% endblock %}

{% block pcoextract_body %}
<h2>Liste des projets</h2>


{% endblock %}